<div class="container-fluid body mt-4 homedata " >
    <div class="row mt-5">
        
        <div class="logo"></div>
        <h2 class="heading">Welcome to Flight Booking app </h2>
        

        
    </div>
    <!-- <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="C:\\FinalProject\\Project\\public\\flight.jpg"/>
            </div>
            <div class="carousel-item active">
                <img src="C:\\FinalProject\\Project\\public\\flight2.jpg"/>
            </div>
            <div class="carousel-item active">
                <img src="C:\\FinalProject\\Project\\public\\flight.jpg"/>
            </div>
        </div>
    </div> -->
    <div class="para">
       <div class="container mt-2 ">  
            <div class="row">
            <div class="myimage col-4 mt-3"></div> 
            <p class="easy col-8 mt-5">
                <b class="text">Easy Booking Process</b><br><br>Our application allows you to quickly search for flights, compare prices, and book tickets with just a few clicks. Whether you're flying for business or leisure, finding the perfect flight has never been easier.
           </p>
        </div>
        </div>
        <div class="container mt-5">   
            <div class="myimage1 col-4 order-2"></div>
            <p><b class="text col-8 order-1 mt-5">Personalized Experience </b><br><br>Customize your journey with our range of options. Select your preferred seat, choose from a variety of in-flight meals, and enjoy additional services to make your flight more comfortable.  
                </p>
        </div>
        <div class="container mt-5" >  
            <div class="row">
            <div class="myimage2 col-4"></div> 
            <p class="easy col-8 mt-3">
                <b class="text">Wide Range of Destinations</b><br><br>Explore the world with us! We offer flights to numerous destinations worldwide, allowing you to discover new places and revisit your favorite spots. Whether it's a tropical getaway or a bustling city break, your next adventure is just a booking away.
            </p>  
        </div>
        </div>
        <div class="container mt-5">   
            <div class="myimage3 col-4 order-2"></div>
            <p><b class="text col-8 order-1 mt-5">User-Friendly Interface </b><br><br>Our intuitive and user-friendly interface makes booking flights a breeze. Easily navigate through options, filter results to match your preferences, and complete your booking in minutes.
            </p><br>
    
        </div><br>
        <p mt-3> Pack your bags and fly with us and create your beautiful memories. Your journey begins here, where comfort meets convenience, and the skies are always inviting!</p><br>
    </div>
</div>